@model MVC_Library.Models.Entity.MEMBER
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Giriş Yap</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .gradient-custom-2 {
            /* fallback for old browsers */
            background: #fccb90;
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        }

        @@media (min-width: 768px) {
            .gradient-form {
                height: 100vh !important;
            }
        }

        @@media (min-width: 769px) {
            .gradient-custom-2 {
                border-top-right-radius: .3rem;
                border-bottom-right-radius: .3rem;
            }
        }
    </style>
</head>
<body>
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="card-body p-md-5 mx-md-4">
                            @using (Html.BeginForm("Login", "Affiliation", FormMethod.Post))
                            {<div style="text-align:center"><b style="color:red">@ViewBag.msg</b></div>

                            <div style="text-align:center"><p><b>Lütfen hesabınıza giriş yapınız!</b></p></div>

                            <div class="form-outline mb-4">
                                <input type="text" name="USERNAME" class="form-control" placeholder="Kullanıcı Adı" required="" />
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" name="PASSWORD" class="form-control" placeholder="Şifre" required="" />
                            </div>

                            <div class="text-center pt-1 mb-5 pb-1">
                                <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">
                                    Giriş Yap
                                </button>
                                <a class="text-muted" href="#!">Şifrenizi mi unuttunuz?</a>
                                <div style="text-align:center"><a class="btn" onclick="location.href='@Url.Action("Login", "Admin")'">Yetkili Girişi</a></div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center pb-4">
                                <p class="mb-0 me-2">Hesabın yok mu?</p>
                                <a style="margin:5px" class="btn btn-outline-danger" href="/Affiliation/Register">Hemen kayıt ol!</a>
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>
</html>
