
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<script src="~/Content/StatsComponent/js/Chart1.js"></script>
<script src="~/Content/StatsComponent/js/main.js"></script>
<script src="~/Content/StatsComponent/js/jquery.min.js"></script>
<script src="~/Content/StatsComponent/js/jquery.nicescroll.js"></script>
<script src="~/Content/StatsComponent/js/moment-2.2.1.js"></script>
<script src="~/Content/StatsComponent/js/site.js"></script>
<script src="~/Content/StatsComponent/js/underscore-min.js"></script>

<div class="list_of_members">
    <div class="sales">
        <div class="icon">
            <i class="dollar"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.total_cash</h3>
            <p>Kasadaki Tutar</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="new-users">
        <div class="icon">
            <i class="user1"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.total_user</h3>
            <p>Kullanıcı Sayısı</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="orders">
        <div class="icon">
            <i class="order"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.given_movement</h3>
            <p>Uygulanan İade Sayısı</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="visitors">
        <div class="icon">
            <i class="dash"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.given_book</h3>
            <p>Ödünç Kitap Sayısı</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="total-sales">
    <div style= "margin-left: 25%;" class="user-trends">

        <canvas id="bar" height="340" width="780"></canvas>
        <script>
            //Insert any data you want to view
            var barChartData = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        fillColor: "rgba(255, 137, 167, 0.78)",
                        strokeColor: "rgba(220,220,220,1)",
                        data: [65, 59, 90, 81, 56, 55, 40]
                    },
                    {
                        fillColor: "rgba(140, 145, 255, 0.69)",
                        strokeColor: "rgba(151,187,205,1)",
                        data: [28, 48, 40, 19, 96, 27, 100]
                    }
                ]

            }

            var myLine = new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);

        </script>
    </div>
    <div class="clearfix"></div>
</div>
